@charset "utf-8";
/* CSS Document */

/*整体布局*/
body {
	background-color: #C5E5F0;
}
* {
	margin: 0;/*外边距*/
	padding: 0;/*内边距*/
	border: 0;/*边框*/
}
#wrapper {
	width: 920px;
	height: 1260px;
	margin: 0 auto;
}
/*头部布局*/
#head {
	width: 920px;
	height: 210px;
	margin-top: 10px;
}
.loginbar form {
	color: #39F;
	font-weight:100;
}
.loginbar form input {
	border-radius: 4px;
	border-radius:50px;
	border: #CCC 1px solid;
}
.loginbar p {
	float: right;
	color: #06C;
	font-weight: bold;
	font-family: "楷体";
	font-size: 18px;
}
.loginbar form a {
	text-decoration: none;
	color: #39F;
	font-weight: bold;
}
.loginbar form a:hover {
	color: #FFF;
}
.branding {
	height: 120px;
	width: 160px;
	float: left;
}
.log {
	height: 120px;
	float: right;
}
.loge {
	margin-top: 10px;
}
.menu {
	width: 920px;
	height: 42px;
 font-family:@新宋体;
	float: left;
	margin-top: 10px;
}
.menu ul {
	list-style-type: none; /*去除ul前的点*/
	width: 920px;
}
.menu ul li {
	float: left;
	position: relative;
}
.menu ul li a, .menu ul li a:visited {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 151px;
	height: 40px;
	color: white;
	border-left: #FFF solid 2px;
	background-image: url(../img/nav.jpg);
	line-height: 40px;
	font-size: 18px;
	font-family: "微软雅黑";
	font-weight: bold;
}
.menu ul li ul {
	display: none;
}
.menu ul li ul li {
	border: 2px #fff solid;
	border-left-style: none;
	border-top-style: none;
}
.menu ul li:hover ul {
	display: block;
	left: 0;
	width: 105px;
}
.menu ul li:hover ul li a {
	display: block;
	color: white;
}
.menu ul li a:hover {
	border-bottom: 2px solid #FFF
}
.menu ul li:hover ul li a:hover {
	color: #06F;
}
.menu ul li:hover a {
	color: #03F;
}
/*主体布局*/
#content {
	width: 920px;
	height: 980px;
	float: left;
}
.img {
	float: left;
}
.left {
	width: 290px;
	float: left;
	height: 250px;
	margin-top: 10px;
}
.right {
	float: left;
	width: 630px;
	height: 250px;
	margin-top: 10px;
}
.right h2 {
	color: #006;
}
.right p {
	color: #666;
	letter-spacing: 10px;
	padding: 10px;
	font-family: "楷体";
}
.right a {
	float: right;
	text-decoration: none;
	color: #33F;
	padding-top: 30px;
	margin-right: 24px;
}
.bottom {
	background-image: url(../img/_r1_c1.jpg);
	background-repeat: no-repeat;
	width: 920px;
	height: 280px;
	margin-top: 20px;
	float: left;
}
.bottom p {
	color: #006CD8;
	font-family: "隶书";
	font-size: 22px;
	padding-top: 10px;
	font-weight: bold;
}
.bottom img {
	margin-top: 15px;
	float: left
}
/*尾部布局*/
#footer {
	width: 920px;
	height: 72px;
	float: left;
	border-top: 2px solid #09F;
}
#footer p {
	height: 70px;
	line-height: 70px;
	width: 920px;
	text-align: center;
	color:#09C;
	font-size:16px;
	font-weight:bold;
}
